<div class="modal-header">
  <h4 class="modal-title pull-left">TERMS OF USE</h4>
  <button
    type="button"
    *ngIf="toggleCheckbox || !disabled"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngx-spinner
    bdOpacity="0.9"
    bdColor="rgb(228, 228, 228,0.9)"
    size="medium"
    color="#305850"
    type="ball-clip-rotate-multiple"
    fullScreen="false"
  >
  </ngx-spinner>
  <div [innerHTML]="termsConditionDetail?.terms_of_use"></div>
  <hr />
  <div class="col-md-12 p-0" *ngIf="termsConditionDetail">
    <div class="custom-control custom-checkbox" *ngIf="!toggleCheckbox">
      <input
        class="custom-control-input"
        [attr.id]="'is_agree_terms'"
        [(ngModel)]="is_agree"
        type="checkbox"
        (change)="onCheckedTerms()"
      />
      <label class="custom-control-label" [attr.for]="'is_agree_terms'"
        >I have read and agree to the
        <span class="font-bold">terms of use</span></label
      >
    </div>
    <p class="p-0 m-0" *ngIf="termsConditionDetail && toggleCheckbox">
      <i class="fas fa-check-circle text-success pr-1"></i>You have already
      agreed to the terms of use
    </p>
  </div>
</div>
