::ng-deep.ui-table .ui-table-tbody > tr > td,
::ng-deep.ui-table-thead > tr > th {
  min-width: 150px !important;
  max-width: 150px !important;
}
.ui-table .ui-table-tbody > tr > td,
.ui-table-thead > tr > th {
  min-width: 150px !important;
  max-width: 150px !important;
}
