<header
  class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar sticky-top"
  id="header"
>
  <a class="navbar-brand" routerLink="/dashboard"
    ><img id="test" src="assets/img/logo.png" alt="logo"
  /></a>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" id="navbarDropdown" href="javascript:void(0)">
        <img
          class="header-avatar"
          alt=""
          [lmsImgProfile]="{
            profile_image: (authService?.user$ | async)?.profile_image,
            profile_image_type: (authService?.user$ | async)?.profile_image_type
          }"
        />
        <span
          >{{ (authService?.user$ | async)?.first_name }}
          {{ (authService?.user$ | async)?.last_name }}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        *ngIf="!hasGuestLogin()"
        class="btn btn-dark ml-4 mt-1"
        href="javascript:void(0)"
        (click)="onLogout()"
        ><i class="fas fa-power-off iconLeft"></i>Logout
      </a>
      <a
        *ngIf="hasGuestLogin()"
        class="btn btn-dark ml-4 mt-1"
        href="javascript:void(0)"
        (click)="onLogout()"
        ><i class="fas fa-user iconLeft"></i>Return to Admin
      </a>
    </li>
  </ul>
</header>
