<div class="modal-header">
  <h5>
    Assign Dealerships To Managers
    <small class="d-block mt-2">( {{ selectedDealergroup?.name }} )</small>
  </h5>
  <button class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body armd-tree-list">
  <ngx-spinner
    bdOpacity="0.9"
    bdColor="rgb(228, 228, 228,0.9)"
    size="medium"
    color="#305850"
    type="ball-clip-rotate-multiple"
    fullScreen="false"
  >
  </ngx-spinner>

  <p-tree
    #userTreeList
    [value]="dealergroupManagersMapped"
    selectionMode="checkbox"
    [(selection)]="dealergroupManagersSelectedMapped"
    styleClass="w-100"
  >
    <ng-template let-node pTemplate="default">
      <h6 class="m-0" class="dealership-wrap m-0">{{ node.label }}</h6>
    </ng-template>
    <ng-template let-node pTemplate="manager">
      {{ node.label }}
    </ng-template>
  </p-tree>
  <!--
      <div>Selected Nodes: <span *ngFor="let file of selectedUsers">{{file.label}} </span></div>
    -->
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-dark" (click)="bsModalRef.hide()">
    Cancel
  </button>
  <button class="btn btn-md btn-green" (click)="onSaveUsers()">Save</button>
</div>
