<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12">
        <div class="pageHeader d-flex justify-content-between bd-highlight mb-3 pb-3">
          <section style="width:100%">
              <ngx-content-loading [secondaryColor]="'#a5a4a4'">
                  <svg:g ngx-rect width="70" height="0" y="0" rx="0" ry="0"></svg:g>
              </ngx-content-loading>
          </section>

        </div>
      </div> -->
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div>
            <content-loader>
              <svg:rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
              <svg:rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
              <svg:rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
              <svg:rect x="0" y="60" rx="3" ry="3" width="250" height="10" />
              <svg:rect x="20" y="80" rx="3" ry="3" width="200" height="10" />
              <svg:rect x="20" y="100" rx="3" ry="3" width="80" height="10" />
            </content-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
