<div class="session-modal">
  <div class="modal-header bg-warning timeout-header">
    <h5 class="modal-title font-weight-bold">
      <i class="fas fa-exclamation-triangle fa-xl text-right "></i> Session
      Timeout
    </h5>
    <button
      *ngIf="false"
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <!-- <div class="col-md-12">
            Your session will expire in
            <span>{{ timeout|number:'2.0-0' }} minutes</span>.
          </div> -->
      <div class="col-md-12">
        You will be logged out due to inactivity, please choose Continue to stay
        sign in or logoff Otherwise, you will be logged off automatically.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-dark" (click)="onCancel()">
      Continue Session
    </button>
    <button class="btn btn-md btn-danger" (click)="onConfirm()">
      Logout Now
    </button>
  </div>
</div>
