<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div
        class="pageHeader d-flex justify-content-between bd-highlight mb-3 pb-3"
      >
        <h2>{{ page[action]['title'] }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb customBreadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/user/manage">All Users</a>
          </li>
          <li class="breadcrumb-item active"><a>User</a></li>
          <li class="breadcrumb-item" *lmsAccessPermission="'Admin'">
            <a routerLink="/user/import">Import Users</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="profilePage">
            <div class="userDetailSec">
              <form class="needs-validation" novalidate="">
                <section [formGroup]="userForm">
                  <h6 class="border-bottom">
                    <i class="fas fa-user"></i> Personal Details
                  </h6>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="firstName">First name</label>
                      <input
                        class="form-control"
                        id="firstName"
                        type="text"
                        placeholder="John"
                        formControlName="first_name"
                        lmsValidationBorder
                      />
                      <div class="invalid-feedback" ngxErrors="first_name">
                        <div
                          when="touched"
                          [ngxError]="['required', 'first_name']"
                        >
                          First name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="lastName">Last name</label>
                      <input
                        class="form-control"
                        id="lastName"
                        type="text"
                        placeholder="Michele"
                        formControlName="last_name"
                        lmsValidationBorder
                      />
                      <div class="invalid-feedback" ngxErrors="last_name">
                        <div
                          when="touched"
                          [ngxError]="['required', 'last_name']"
                        >
                          Last name is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="email">Email</label>
                      <input
                        class="form-control"
                        id="email"
                        type="email"
                        placeholder="you@example.com"
                        formControlName="email"
                        lmsValidationBorder
                      />
                      <div class="invalid-feedback" ngxErrors="email">
                        <div when="touched" [ngxError]="['required', 'email']">
                          Invalid email address
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="action != 'edit'">
                      <label for="email">Dealership</label>
                      <p-multiSelect
                        [options]="dealerships"
                        name="id"
                        dataKey="id"
                        formControlName="dealership"
                        filterPlaceHolder="Select Dealerships"
                        defaultLabel="Select Dealerships"
                        optionLabel="name"
                        [style]="{ width: '100%' }"
                        filter="true"
                        showClear="true"
                      >
                      </p-multiSelect>
                    </div>
                  </div>
                </section>

                <section [formGroup]="userPasswordForm">
                  <h6 class="border-bottom mt-3">
                    <i class="fas fa-key"></i> Password
                  </h6>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="password">New Password</label>
                      <input
                        class="form-control"
                        id="password"
                        type="password"
                        formControlName="password"
                        lmsValidationBorder
                      />
                      <div class="invalid-feedback" ngxErrors="password">
                        <div when="touched" [ngxError]="['minlength']">
                          The password must have a 6 minimum characters
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="confirmPassword">Confirm Password</label>
                      <input
                        class="form-control"
                        id="confirmPassword"
                        type="password"
                        formControlName="cpassword"
                        [ngClass]="{ 'is-invalid': userPasswordForm?.invalid }"
                      />
                      <div
                        class="invalid-feedback"
                        *ngIf="
                          userPasswordForm?.dirty && userPasswordForm?.invalid
                        "
                      >
                        The password confirmation does not match
                      </div>
                    </div>
                  </div>
                </section>

                <h6 class="border-bottom mt-3">
                  <i class="fas fa-users-cog"></i> Role
                </h6>
                <div class="row my-3">
                  <div
                    class="col-md-4"
                    *ngFor="let userAccessRole of userAccessRoles"
                  >
                    <!-- <pre>{{(userAccessRole|json)}}</pre> -->
                    <div class="custom-control custom-checkbox">
                      <input
                        [checked]="
                          userForm
                            .get('role_id')
                            ?.value?.includes(userRole[userAccessRole])
                        "
                        class="custom-control-input"
                        [attr.id]="userAccessRole"
                        type="checkbox"
                        [value]="userRole[userAccessRole]"
                        (change)="onCheckRole($event, userAccessRole)"
                      />
                      <label
                        class="custom-control-label"
                        [attr.for]="userAccessRole"
                        >{{ userAccessRole }}</label
                      >
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <button
                    class="btn btn-green"
                    type="button"
                    [disabled]="userPasswordForm?.invalid || userForm?.invalid"
                    (click)="onSave()"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
