<ng-template #dealerModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      Associate Dealerships to User ( {{ selectedDealer?.name }} )
    </h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="dealerModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ngx-spinner
            bdOpacity="0.9"
            bdColor="rgb(228, 228, 228,0.9)"
            size="medium"
            color="#305850"
            type="ball-clip-rotate-multiple"
            fullScreen="false"
          >
          </ngx-spinner>
          <p-pickList
            (onMoveToTarget)="onLearnerAssigned($event)"
            (onMoveToSource)="onLearnerUnAssigned($event)"
            [source]="learners.availableUsers"
            dragdrop="true"
            [target]="learners.assignedUsers"
            [responsive]="true"
            [showSourceFilter]="true"
            [filterBy]="'email'"
            sourceFilterPlaceholder="Search with email"
            targetFilterPlaceholder="Search with email"
            [showSourceControls]="false"
            [showTargetControls]="false"
            sourceHeader="Available Users"
            targetHeader="Users Associated"
          >
            <ng-template let-learner pTemplate="item">
              <div>
                {{ learner.first_name }} {{ learner.last_name }} ({{
                  learner.email
                }})
              </div>
            </ng-template>
          </p-pickList>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-dark" type="button" (click)="dealerModalRef.hide()">
      Close
    </button>
  </div>
</ng-template>
