<svg
  style="position: absolute; width: 0; height: 0;"
  width="0"
  height="0"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <defs>
    <symbol id="icon-arrow_left" viewBox="0 0 24 24">
      <path
        d="M15.422 16.078l-1.406 1.406-6-6 6-6 1.406 1.406-4.594 4.594z"
      ></path>
    </symbol>
    <symbol id="icon-arrow_right" viewBox="0 0 24 24">
      <path
        d="M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z"
      ></path>
    </symbol>
  </defs>
</svg>
<div class="loginContainer">
  <div class="loginBgSec">
    <video muted loop>
      <source
        src="https://getarmd.com/_assets/ARMD-2748.webm"
        type="video/webm"
      />
      <source
        src="https://getarmd.com/_assets/ARMD-2748.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="loginFormContainer">
    <div class="loginFormWrapper">
      <div class="loginFormSec">
        <div class="loginLogoSec mb-4">
          <img src="assets/img/logo-green.png" alt="logo" />
        </div>
        <form [formGroup]="resetPasswordForm">
          <div class="row">
            <div class="col-md-12 mb-3">
              <input
                class="form-control"
                type="password"
                placeholder="Password"
                formControlName="password"
                lmsValidationBorder
              />
              <div class="invalid-feedback" ngxErrors="password">
                <div when="touched" [ngxError]="['minlength']">
                  The password must have a 6 minimum characters
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <input
                class="form-control"
                id="confirmPassword"
                type="password"
                placeholder="Confirm Password"
                formControlName="cpassword"
                [ngClass]="{ 'is-invalid': resetPasswordForm?.invalid }"
              />
              <div
                class="invalid-feedback"
                *ngIf="resetPasswordForm?.dirty && resetPasswordForm?.invalid"
              >
                The password confirmation does not match
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button
                class="btn btn-green btn-block"
                type="button"
                (click)="onResetPassword()"
                [disabled]="
                  resetPasswordForm?.untouched || resetPasswordForm?.invalid
                "
              >
                Reset Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
