<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div
        class="pageHeader d-flex justify-content-between bd-highlight mb-3 pb-3"
      >
        <h2>Manage Lessons</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb customBreadcrumb">
          <li class="breadcrumb-item  active">
            <a routerLink="/lesson/manage">All Lessons</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/lesson/create">Create Lesson</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div>
            <lms-lesson-list
              (delete$)="deleteLesson($event)"
              [lessons]="lessons"
            ></lms-lesson-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
